<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <h1>Enter an event for  <%= some[1] %>,<%= some[0] %>,2018 </h1>

        <form action="/insetEvent" method="post">
            <label for="title"> Title </label>
            <input type="text" name="title"  required>

            <label for="desc"> Description </label>
            <input type="text" name="desc" required>

            <label for="start"> Start Time </label>
            <input type="text" name="start" placeholder="Ex. '5:00pm'" required>

            <label for="end"> End Time </label>
            <input type="text" name="end" placeholder="Ex. '6:30pm'" required>

            <button type="submit" name="button"> Submit </button>
        </form>
        <form action="/cancel" method="post">
            <button type="submit" name="button"> Cancel Event </button>
        </form>

    </body>
</html>
