<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1>HI WELCOME !</h1>
        <table class="table table-bordered">
            <thead>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0701"> 1 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0702"> 2 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0703"> 3 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0704"> 4 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0705"> 5 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0706"> 6 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0707"> 7 </button>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0708"> 8 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0709"> 9 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0710"> 10 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0711"> 11 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0712"> 12 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0713"> 13 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0714"> 14 </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0715"> 15 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0716"> 16 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0717"> 17 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0718"> 18 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0719"> 19 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0720"> 20 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0721"> 21 </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0722"> 22 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0723"> 23 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0724"> 24 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0725"> 25 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0726"> 26 </button>
                        </form>
                    </td>

                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0727"> 27 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0728"> 28 </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0729"> 29 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0730"> 30 </button>
                        </form>
                    </td>
                    <td>
                        <form action="/event" method="get">
                            <button class="buttons" type="submit" name="Day" value="0731"> 31 </button>
                        </form>
                    </td>
                </tr>

            </tbody>
        </table>

    </body>
</html>
